<!DOCTYPE html>
<html lang="en">

<body>

<br>
<div class="form-group">
    <div class="row">

        <div class="col-sm-2 col-sm-offset-1">

        </div>
        <form name="userEditorForm">
            <div class="col-sm-9" ng-include="'html/user/user_editing_panel.html'">
            </div>
        </form>

    </div>



    <br>
    <div class="row">
        <div class="col-sm-8"></div>
        <button type="button" ng-click="saveUser('edit')" ng-disabled="userEditorForm.$invalid" class="btn btn-sm btn-primary pull-left">
            <strong>Update</strong></button>
        <button type="button" ng-click="cancelUser()"  class="btn btn-sm btn-primary ">
           <strong>Cancel</strong> </button>

    </div>
</div>
</body>
</html>